:root {
  --main-color: #fa9f6c;
  --first-color: #e1bcdb;
  --second-color: #f0fd71;
  --third-color: #f6f3ec;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --element-transition: all 150ms ease-in-out;
  --bold: "Anton", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: var(--third-color);
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/IMG_2446.jpg");
  background-blend-mode: overlay;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: cover;
  color: white;
  padding: 200px 80px;
  text-align: left;
  width: 100%;
  height: 100vh;
}

.header-banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

header h1 {
  color: var(--second-color);
  font-size: 166px;
  line-height: 1;
  letter-spacing: 0.1px;
  margin: 40px 0;
}

header h2 {
  color: var(--second-color);
  font-size: 18px;
  margin: 0;
  letter-spacing: 4px;
}

header h3 {
  color: var(--main-color);
  font-size: 28px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

main h1 {
  font-style: italic;
  font-size: 66px;
  font-weight: 200;
  margin: 10px 0;
}

main h2 {
  font-size: 46px;
}

main h3 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

main h4 {
  color: var(--first-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

main h5 {
  color: var(--first-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

footer {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.8),
      rgba(255, 255, 255, 0.8)
    ),
    url("../images/pexels-monstera-6621182.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
}

footer h4 {
  color: var(--main-color);
  font-size: 20px;
}

footer p {
  color: var(--main-color);
}

.full-container {
  padding-top: 100vh;
}

.contact-button {
  background: var(--main-color);
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 18px;
  transition: var(--element-transition);
}

.contact-button:hover {
  background: var(--first-color);
  color: white;
}

.appointment-button {
  background: var(--first-color);
  color: white;
  box-shadow: var(--box-shadow);
  transition: var(--element-transition);
}

.appointment-button:hover {
  background: var(--main-color);
  color: white;
}

.newsletter-button {
  background: var(--first-color);
  color: white;
  box-shadow: var(--box-shadow);
  transition: var(--element-transition);
}

.newsletter-button:hover {
  background: var(--main-color);
  color: white;
}

.bold-written {
  font-family: var(--bold);
}

.bright-text {
  color: var(--second-color);
}

.hola {
  font-size: 30px !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

.intro {
  padding: 80px;
}

.secondary {
  background: white;
}

.background-image {
  background-image: url(https://www.market.prettywebdesign.biz/engage/wp-content/uploads/sites/6/2017/05/achievement-break-business-688668.jpg);
}

.testimonio {
  background: #eeece8;
  padding: 40px;
  border-radius: 8px;
}

.testimonio-texto {
  font-size: 12px;
  display: block;
  position: relative;
}

.round-pic {
  width: 150px;
  height: 150px;
  border-radius: 90%;
  vertical-align: middle;
}

.coaches-pic {
  border-radius: 90%;
  vertical-align: middle;
}

.hero-home {
  padding: 80px 10px;
  font-size: 26px;
}

.instagram-embed {
  margin-left: auto;
  margin-right: auto;
}

.social-media {
  font-size: 56px;
  padding: 12px;
  text-align: center;
}

.icon {
  color: var(--first-color);
  font-size: 26px;
  padding: 12px;
  display: inline-block;
}

.icon:hover {
  color: var(--main-color);
}

.footer-text {
  max-width: 100%;
  margin: 0 auto;
  padding: 80px 240px 80px 240px;
}

.giovanna {
  color: var(--first-color);
  font-weight: 800;
}

.giovanna:hover {
  color: var(--main-color);
}

.email-box {
  border: none;
  padding: 6px 12px;
  border-radius: 8px;
}

@media (max-width: 998px) {
  header h1 {
    font-size: 90px;
    margin: 30px 0;
  }

  header h2 {
    font-size: 14px;
    letter-spacing: 3px;
  }

  .round-pic {
    float: left;
    display: block;
  }
}

@media (max-width: 768px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 58px;
  }

  header h2 {
    font-size: 28px;
    line-height: 0.9;
  }

  header h3 {
    font-size: 16px;
  }

  section {
    padding: 10px;
  }

  main h2 {
    font-size: 24px;
  }

  .contact-text {
    text-align: center;
  }

  .footer-text {
    padding: 40px;
  }
}
