:root {
  --main-color: #bb5a5a;
  --first-color: #e79e85;
  --second-color: #eaceb4;
  --third-color: #eeece8;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --element-transition: all 150ms ease-in-out;
  --italic: "Great Vibes", cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--third-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/sammy_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: left;
  width: 100%;
}

header h1 {
  font-size: 126px;
  font-weight: 200;
  margin: 10px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  font-size: 24px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

a {
  display: flex;
}

.contact-button {
  background: var(--main-color);
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 18px;
  transition: var(--element-transition);
}

.contact-button:hover {
  background: var(--first-color);
}

.hand-written {
  font-family: var(--italic);
}
