:root {
  --main-color: #bb5a5a;
  --first-color: #e79e85;
  --second-color: #eaceb4;
  --third-color: #eeece8;
  --box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --element-transition: all 150ms ease-in-out;
  --italic: "Great Vibes", cursive;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--third-color);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.2)),
    url("../images/sammy_header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  padding: 200px 0;
  text-align: left;
  width: 100%;
  height: auto;
}

header h1 {
  font-style: italic;
  font-size: 126px;
  font-weight: 200;
  margin: 10px 0;
}

header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
}

header h3 {
  color: var(--main-color);
  font-size: 28px;
  font-weight: 800;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

main h3 {
  color: var(--main-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}

main h4 {
  color: var(--first-color);
  font-weight: 700;
  font-size: 24px;
  line-height: 1.5;
  margin: 0;
}

a {
  display: flex;
}

.contact-button {
  background: var(--main-color);
  color: white;
  box-shadow: var(--box-shadow);
  font-size: 18px;
  transition: var(--element-transition);
}

.contact-button:hover {
  background: var(--first-color);
  color: white;
}

.appointment-button {
  background: var(--first-color);
  color: white;
  box-shadow: var(--box-shadow);
  transition: var(--element-transition);
}

.appointment-button:hover {
  background: var(--main-color);
  color: white;
}

.hand-written {
  font-family: var(--italic);
}

.hola {
  font-size: 30px !important;
  font-weight: 400 !important;
  letter-spacing: normal !important;
}

.intro {
  padding: 80px;
}

.secondary {
  background: white;
}

.testimonio {
  background: #eeece8;
  padding: 40px;
}

.texto-testimonio {
  font-size: 12px;
}

.round-pic {
  width: 150px;
  height: 150px;
  border-radius: 90%;
  vertical-align: middle;
}

@media (max-width: 998px) {
  .round-pic {
    float: left;
    display: block;
  }
}
